# Convex deployment URL
# When using local Convex development:
# - Web/iOS simulator: use 127.0.0.1
# - Android emulator: replace 127.0.0.1 with 10.0.2.2 (emulator's alias for host machine)
# Remote:
# - URL should be like: https://*****.convex.cloud
EXPO_PUBLIC_CONVEX_URL=********************************
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=YOUR_PUBLISHABLE_KEY

